@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}


/*.sahitya_body_section {
    background-color: white;
    margin: 0 4rem 0 4rem;
    padding: 1rem 2rem 1rem 2rem;
}*/

/*business body section start*/
.business_body_section {
    background: #F5F5F5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 2rem 4rem;
}

.business_body {
    background-color: white;
    margin: 0 4rem 1rem 4rem;
    padding: 1rem 2rem 1rem 2rem;
}

hr.business_line {
    border-top: 2px solid black;
}

/*business news heading*/
.business_news_heading {
    padding: 2rem 7rem;
}

.business_news_heading h3 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    padding-top: 1rem;
}

/*business main news card*/
.business_main_news .card {
    background-color: #D9D9D9;
    border-radius: 1px;
    border-color: #D9D9D9;
}

/*business main news image*/
.business_main_news img {
    height: 24rem;
    width: 100%;
    object-fit: cover;
}

/*business main news detail*/
.business_main_news_detail {
    padding: 4rem 10px;
}

/*business main news title*/
.business_main_news_detail h3 {
    font-size: 30px;
    font-weight: bold;
}

/*business main news date*/
.business_main_news_detail p {
    font-size: 16px;
    color: #898888;
}

/*bank news body*/
.bank_body {
    margin: 0 4rem 0 4rem;
}

.bank_section {
    background-color: white;
    padding: 2rem;
}

/*bank main news card*/
.bank_main_new .card {
    background-color: #D9D9D9;
    border-radius: 1px;
    border-color: #D9D9D9;
    height: 18rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.bank_main_new .container {
    padding: 2rem 2rem 1rem 0;
}

/*bank main news title*/
.bank_main_new h3 {
    font-weight: bold;
    font-size: 24px;
}

/*bank main news date*/
.bank_main_new p {
    font-size: 14px;
    color: #898888;
}

/*bank main news detail*/
.bank_main_new h2 {
    font-size: 16px;
}

/*bank main news title*/
.bank_main_new img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

/*bank other news image*/
.bank_news img {
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

/*bank news detail*/
.bank_news_detail {
    height: 7rem;
    padding: 7px;
    overflow: hidden;
}

/*bank news title*/
.bank_news h3 {
    font-weight: bold;
    font-size: 18px;
}

/*bank news paragraph*/
.bank_news p {
    font-size: 12px;
    color: #898888;
}

/*market news section*/
.market_section {
    background-color: white;
    padding: 1rem;
}

/*matket news section image*/
.market_section img {
    height: 10rem;
    width: 100%;
}

.market_news {
    padding: 1rem 0;
    border-bottom: 2px solid grey;
}

/*market news title*/
.market_news h3 {
    font-size: 18px;
    font-weight: bold;
}

/*market news date*/
.market_news p {
    font-size: 14px;
    color: #898888;
}

/*paryatan news section*/
.paryatan_body {
    background-color: white;
    padding: 1rem 2rem;
    margin: 1rem 4rem 0 4rem;
}

/*paryatan image*/
.paryatan_body_image {
    position: relative;
    text-align: center;
    padding: 1rem 0 1rem 0;
    object-fit: cover;
}

.paryatan_body_image img {
    height: 27rem;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}


/* paryatan image text */
.paryatan_body_image_text {
    position: absolute;
    bottom: 0px;
    height: 5rem;
    color: white;
}

.paryatan_body_image_text h4 {
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
}

/*rojgar body*/
.rojgar_body {
    background-color: white;
    padding: 1rem 2rem;
    margin: 1rem 4rem 0 4rem;
}

/*rojgar image*/
.rojgar_news img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

/*rojgar title*/
.rojgar_news h3 {
    font-size: 17px;
    font-weight: bold;
    padding: 1rem 1px;
}

@media only screen and (max-width: 480px) {
    .business_body_section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 2px;
    }

    .business_body {
        background-color: white;
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
    }

    /*business news heading*/
    .business_news_heading {
        padding: 1rem;
    }

    .business_news_heading h3 {
        font-size: 15px;
        padding-top: 5px;
    }

    /*business main news image*/
    .business_main_news img {
        height: 12rem;
    }

    /*business main news card*/
    .business_main_news .card {
        height: 12rem;
        overflow: hidden;
    }

    /*business main news title*/
    .business_main_news_detail h3 {
        font-size: 16px;
    }

    .business_main_news_detail {
        padding: 2rem 0px;
    }

    .business_main_news_detail p {
        font-size: 12px;
    }

    /*bank news body*/
    .bank_body {
        margin: 0 1rem 0 1rem;

    }

    .bank_section {
        padding: 1rem 1rem 0 1rem;
    }

    /*bank main news title*/
    .bank_main_new img {
        height: 14rem;
        width: 100%;
        object-fit: cover;
    }

    /*bank main news card*/
    .bank_main_new .card {
        background-color: #D9D9D9;
        border-radius: 1px;
        border-color: #D9D9D9;
        height: 14rem;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-weight: bold;
        font-size: 16px;
        padding-top: 5px;
    }

    .bank_main_new .container {
        padding: 5px;
    }

    .bank_main_new p {
        font-size: 10px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 10px;
    }

    /*bank other news image*/
    .bank_news img {
        height: 5rem;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 10px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 8px;
    }

    .market_section img {
        height: 10rem;
        width: 100%;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 13px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 10px;
        color: #898888;
    }

    .market_news {
        padding: 10px 0 2px 0;
        border-bottom: 2px solid grey;
    }

    /*paryatan news section*/
    .paryatan_body {
        padding: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    /*paryatan image*/
    .paryatan_body_image img {
        height: 15rem;
    }

    /* paryatan image text */
    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 14px;
    }

    /*rojgar news section*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 7rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 13px;
        font-weight: bold;
        padding: 5px 1px;
    }

    .market_section {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
    .business_body_section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 2px;
    }

    .business_body {
        background-color: white;
        margin: 0 2rem 1rem 2rem;
        padding: 1rem;
    }

    /*business news heading*/
    .business_news_heading {
        padding: 1rem 2rem;
    }

    .business_news_heading h3 {
        font-size: 18px;
        padding-top: 1rem;
    }

    /*business main news image*/
    .business_main_news img {
        height: 15rem;
    }

    /*business main news card*/
    .business_main_news .card {
        height: 15rem;
        overflow: hidden;
    }

    /*business main news title*/
    .business_main_news_detail h3 {
        font-size: 20px;
    }

    .business_main_news_detail {
        padding: 3rem 0px;
    }

    /*bank news body*/
    .bank_body {
        margin: 0 2rem 0 2rem;
    }

    .bank_section {
        padding: 1rem 1rem 0 1rem;
    }

    .bank_news {
        padding: 10px;
    }

    /*bank main news title*/
    .bank_main_new img {
        height: 14rem;
        width: 100%;
        object-fit: cover;
    }

    /*bank main news card*/
    .bank_main_new .card {
        background-color: #D9D9D9;
        border-radius: 1px;
        border-color: #D9D9D9;
        height: 14rem;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-weight: bold;
        font-size: 16px;
        padding-top: 5px;
    }

    .bank_main_new .container {
        padding: 5px;
    }

    .bank_main_new p {
        font-size: 10px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 10px;
    }

    /*bank other news image*/
    .bank_news img {
        height: 5rem;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 10px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 8px;
    }

    .market_section {
        margin-top: 1rem;
    }

    .market_section img {
        height: 13rem;
        width: 100%;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 13px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 10px;
        color: #898888;
    }

    .market_news {
        padding: 10px 0 2px 0;
        border-bottom: 2px solid grey;
    }


    /*paryatan news section*/
    .paryatan_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*paryatan image*/
    .paryatan_body_image img {
        height: 17rem;
    }

    /* paryatan image text */
    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 14px;
    }

    /*rojgar news section*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 9rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .business_body_section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem;
    }

    .business_body {
        background-color: white;
        margin: 0 2rem 1rem 2rem;
        padding: 1rem;
    }

    /*business news heading*/
    .business_news_heading {
        padding: 1rem 2rem;
    }

    .business_news_heading h3 {
        font-size: 18px;
        padding-top: 1rem;
    }

    /*business main news image*/
    .business_main_news img {
        height: 18rem;
    }

    /*business main news card*/
    .business_main_news .card {
        height: 18rem;
        overflow: hidden;
    }

    /*business main news title*/
    .business_main_news_detail h3 {
        font-size: 20px;
    }

    .business_main_news_detail {
        padding: 3rem 0px;
    }

    /*bank news body*/
    .bank_body {
        margin: 0 2rem 0 2rem;
    }

    .bank_section {
        padding: 1rem;
    }

    /*bank main news title*/
    .bank_main_new img {
        height: 16rem;
        width: 100%;
        object-fit: cover;
    }

    /*bank main news card*/
    .bank_main_new .card {
        background-color: #D9D9D9;
        border-radius: 1px;
        border-color: #D9D9D9;
        height: 16rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 10px;
    }

    .bank_main_new .container {
        padding: 5px;
    }

    .bank_main_new p {
        font-size: 10px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 12px;
    }

    /*bank other news image*/
    .bank_news img {
        height: 6rem;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 14px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 10px;
    }

    .market_section img {
        height: 8rem;
        width: 100%;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 15px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 12px;
        color: #898888;
    }

    .market_news {
        padding: 1rem 0 5px 0;
        border-bottom: 2px solid grey;
    }


    /*paryatan news section*/
    .paryatan_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*paryatan image*/
    .paryatan_body_image img {
        height: 17rem;
    }

    /* paryatan image text */
    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 14px;
    }

    /*rojgar news section*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 7rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .business_body_section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 2px;
    }

    /*business news heading*/
    .business_news_heading {
        padding: 1rem 3rem;
    }

    .business_news_heading h3 {
        font-size: 22px;
        padding-top: 1rem;
    }

    /*business main news image*/
    .business_main_news img {
        height: 20rem;
    }

    /*business main news card*/
    .business_main_news .card {
        height: 20rem;
        overflow: hidden;
    }

    /*business main news title*/
    .business_main_news_detail h3 {
        font-size: 26px;
    }

    .bank_section {
        padding: 1rem 2rem;
    }

    /*bank main news title*/
    .bank_main_new img {
        height: 16rem;
        width: 100%;
        object-fit: cover;
    }

    /*bank main news card*/
    .bank_main_new .card {
        background-color: #D9D9D9;
        border-radius: 1px;
        border-color: #D9D9D9;
        height: 16rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    }

    .bank_main_new .container {
        padding: 5px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 14px;
    }

    /*bank other news image*/
    .bank_news img {
        height: 6rem;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 14px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 10px;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 15px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 12px;
        color: #898888;
    }

    .market_news {
        padding: 1rem 0 5px 0;
        border-bottom: 2px solid grey;
    }

    /*paryatan image*/
    .paryatan_body_image img {
        height: 20rem;
    }

    /* paryatan image text */
    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 14px;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 10rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .business_news_heading h3 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        padding-top: 1rem;
    }

    /*business main news*/
    .business_main_news img {
        height: 24rem;
        width: 100%;
        object-fit: cover;
    }

    .paryatan_body_image img {
        height: 25rem;
    }

    /*matket news section image*/
    .market_section img {
        height: 8rem;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 12rem;
    }

    /*bank main news title*/
    .bank_main_new img {
        height: 22rem;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1200px) {
    .paryatan_body_image img {
        height: 28rem;
    }

    /*business main news*/
    .business_main_news img {
        height: 23rem;
        width: 100%;
        object-fit: cover;
    }

    .bank_news img {
        height: 9rem;
        width: 100%;
        object-fit: cover;
    }
}