@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}

.mukhya_samachar .author {
    text-align: left;
    margin-left: 3rem;
}

.mukhya_samachar .heading {
    text-align: center;
    margin-left: 3rem;
}

/*body section*/
.samachar_body_section {
    background: #F5F5F5;
    padding: 2rem 4rem;
}

.author .line img {
    margin: 0 10px 5px 1rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.samachar_news .author h5 {
    font-size: 14px;
    color: #766F6F;
}

.mukhya_samachar {
    background-color: white;
    margin: 0 4rem 2rem 4rem;
    padding: 1rem 2rem 1rem 2rem;
}

.other_samachar {
    background-color: white;
    margin: 0 4rem 2rem 4rem;
    padding: 1rem 2rem 1rem 2rem;
}

/*main samachar image*/
.main_samachar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_samachar {
    height: 28rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

/*main samachar detail*/
.main_samachar_detail {
    padding: 0;
    text-align: center;
}

/*main samachar tittle*/
.main_samachar_detail h3 {
    font-weight: bold;
    font-size: 28px;
}

/*main samachar time*/
.main_samachar_detail h5 {
    font-size: 14px;
    color: #766F6F;
}

/*main samachar detail*/
.main_samachar_detail p {
    padding-top: 5px;
    font-size: 18px;

}

.samachar_news {
    margin-bottom: 1rem;
}

/*samachar image*/
.samachar_news img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

/*samachar title*/
.samachar_news h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0 5px 0;
}

@media only screen and (max-width: 480px) {
    .samachar_body_section {
        padding: 1rem 0;
    }

    .mukhya_samachar {
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
    }

    .other_samachar {
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }

    .author .line img {
        margin: 0 10px 10px 5px;
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }

    .author h5 {
        font-size: 8px;
        color: #766F6F;
    }

    .samachar {
        margin: 0;
        padding: 0;
    }

    /*main samachar image*/
    .main_samachar img {
        height: 100%;
    }

    .main_samachar {
        height: 14rem;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    /*main samachar detail*/
    .main_samachar_detail {
        padding: 5px;
    }

    /*main samachar tittle*/
    .main_samachar_detail h3 {
        font-size: 13px;
        width: 100%;
    }

    /*main samachar time*/
    .main_samachar_detail h5 {
        font-size: 10px;
        width: 100%;
    }

    /*main samachar detail*/
    .main_samachar_detail p {
        padding-top: 2px;
        font-size: 11px;
        width: 100%;
    }

    /*samachar image*/
    .samachar_news img {
        height: 6rem;
    }

    /*samachar title*/
    .samachar_news h3 {
        font-size: 10px;
        padding: 4px 1px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
    .samachar_body_section {
        padding: 1rem 0;
    }

    .mukhya_samachar {
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
    }

    .other_samachar {
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }

    .author .line img {
        margin: 0 10px 10px 5px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }

    .author h5 {
        font-size: 10px;
        color: #766F6F;
    }

    .samachar {
        padding: 1rem;
    }

    /*main samachar image*/
    .main_samachar img {
        height: 100%;
    }

    .main_samachar {
        height: 15rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /*main samachar detail*/
    .main_samachar_detail {
        padding: 10px;
    }

    /*main samachar tittle*/
    .main_samachar_detail h3 {
        font-size: 18px;
        width: 100%;
    }

    /*main samachar time*/
    .main_samachar_detail h5 {
        font-size: 12px;
        width: 100%;
    }

    /*main samachar detail*/
    .main_samachar_detail p {
        padding-top: 2px;
        font-size: 14px;
        width: 100%;
    }

    /*samachar image*/
    .samachar_news img {
        height: 8rem;
    }

    /*samachar title*/
    .samachar_news h3 {
        font-size: 13px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .samachar_body_section {
        padding: 1rem 0;
    }

    .mukhya_samachar {
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
    }

    .other_samachar {
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }

    .author .line img {
        margin: 0 5px 10px 5px;
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }

    .author h5 {
        font-size: 8px;
        color: #766F6F;
    }

    .samachar {
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }

    /*main samachar image*/
    .main_samachar img {
        height: 100%;
    }

    .main_samachar {
        height: 15rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /*main samachar detail*/
    .main_samachar_detail {
        padding: 10px;
    }

    /*main samachar tittle*/
    .main_samachar_detail h3 {
        font-size: 18px;
        width: 100%;
    }

    /*main samachar time*/
    .main_samachar_detail h5 {
        font-size: 12px;
        width: 100%;
    }

    /*main samachar detail*/
    .main_samachar_detail p {
        padding-top: 2px;
        font-size: 14px;
        width: 100%;
    }

    /*samachar image*/
    .samachar_news img {
        height: 8rem;
    }

    /*samachar title*/
    .samachar_news h3 {
        font-size: 12px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .samachar_body_section {
        background: #F5F5F5;
        padding: 1rem 0;
    }

    .author .line img {
        margin: 0 5px 10px 5px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }

    .author h5 {
        font-size: 10px;
        color: #766F6F;
    }

    /*main samachar image*/
    .main_samachar img {
        height: 100%;
    }

    .main_samachar {
        height: 21rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /*main samachar detail*/
    .main_samachar_detail {
        padding: 2rem;
    }

    /*main samachar tittle*/
    .main_samachar_detail h3 {
        font-size: 22px;
        width: 85%;
    }

    /*main samachar time*/
    .main_samachar_detail h5 {
        font-size: 13px;
        width: 85%;
    }

    /*main samachar detail*/
    .main_samachar_detail p {
        padding-top: 10px;
        font-size: 15px;
        width: 85%;
    }

    /*samachar image*/
    .samachar_news img {
        height: 10rem;
    }

    /*samachar title*/
    .samachar_news h3 {
        font-size: 14px;
        padding: 1rem 1px 2px 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*main samachar image*/
    .main_samachar img {
        height: 100%;
    }

    .main_samachar {
        height: 24rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .samachar_news img {
        height: 12rem;
    }

    .samachar_news h3 {
        font-size: 17px;
        padding: 1rem 1px;
    }
}