@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}

.heading {
    display: flex;
}

.blue_line {
    border-top: 4px solid #2D3691;
    width: 70px;
}

.one {
    margin-top: 1rem;
    margin-left: 10px;
}

/*.sahitya_body_section {
    background-color: white;
    margin: 0 4rem 0 4rem;
    padding: 1rem 2rem 1rem 2rem;
}*/

/*business body section start*/
.business_body_section {
    background: #F5F5F5;
    padding: 1rem 4rem;
}

.business_body {
    background-color: white;
    margin: 0 4rem 1rem 4rem;
    padding: 1rem 2rem 1rem 2rem;
}

/*bank news body*/
.bank_body {
    margin: 1rem 4rem 0 4rem;
}

.bank_section {
    background-color: white;
    padding: 1rem 2rem;
}

/*bank main news card*/
.bank_main_new .card {
    background-color: #D9D9D9;
    border-radius: 1px;
    border-color: #D9D9D9;
    height: 18rem;
    overflow: hidden;
    margin-bottom: 2rem;
    text-align: justify;
}

.bank_main_new .container {
    padding: 3rem 2rem 1rem 0;
}

/*bank main news title*/
.bank_main_new h3 {
    font-weight: bold;
    font-size: 24px;
}

/*bank main news date*/
.bank_main_new p {
    font-size: 14px;
    color: #898888;
}

/*bank main news detail*/
.bank_main_new h2 {
    font-size: 16px;
}

/*bank main news image*/
.bank_main_new img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

/*bank other news image*/
.bank_news img {
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

/*bank news detail*/
.bank_news_detail {
    height: 7rem;
    padding: 7px;
    overflow: hidden;
}

/*bank news title*/
.bank_news h3 {
    font-weight: bold;
    font-size: 18px;
}

/*bank news paragraph*/
.bank_news p {
    font-size: 12px;
    color: #898888;
}

/*market news section*/
.market_section {
    background-color: white;
    padding: 1rem;
}

/*matket news section image*/
.market_section img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    padding-bottom: 1rem;
}

.market_news {
    padding: 1rem 0;
    border-bottom: 2px solid grey;
}

/*market news title*/
.market_news h3 {
    font-size: 18px;
    font-weight: bold;
}

/*market news date*/
.market_news p {
    font-size: 14px;
    color: #898888;
}

/*paryatan news section*/
.paryatan_body {
    background-color: white;
    padding: 1rem 2rem;
    margin: 1rem 4rem 0 4rem;
}

/*paryatan image*/
.paryatan_body_image {
    position: relative;
    text-align: center;
    padding: 1rem 0 1rem 0;
    object-fit: cover;
}

.paryatan_body_image img {
    height: 27rem;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}


/* chutaunubhayoki image text */
.paryatan_body_image_text {
    position: absolute;
    bottom: 0px;
    height: 5rem;
    color: white;
}

.paryatan_body_image_text h4 {
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
}

/*paryatan image*/
.paryatan_body_imagee {
    position: relative;
    text-align: center;
    padding: 1rem 0 1rem 0;
    object-fit: cover;
}

.paryatan_body_imagee img {
    height: 12rem;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}


/* chutaunubhayoki image text */
.paryatan_body_imagee_text {
    position: absolute;
    bottom: 0px;
    height: 5rem;
    color: white;
}

.paryatan_body_imagee_text h4 {
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
}

/*rojgar body*/
.rojgar_body {
    background-color: white;
    padding: 1rem 2rem;
    margin: 1rem 4rem 0 4rem;
}

/*rojgar image*/
.rojgar_news img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

/*rojgar title*/
.rojgar_news h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 1px;
}

.antarbarta_body {
    padding-top: 1rem;
}

/*antarbarta news image*/
.antarbarta_card img {
    object-fit: cover;
    width: 100%;
    height: 5rem;
}

/*antarbarta news card*/
.antarbarta_card {
    height: 6rem;
    overflow: hidden;
    margin-bottom: 1rem;
    border-bottom: 2px solid grey;
    padding: 0 0 1rem 0;
}

/*antarbarta news detail*/
.antarbarta_detail {
    padding: 1rem 5px;
}

.antarbarta_card h3 {
    font-size: 16px;
    font-weight: bold;
}

/*business section link*/
.business_section_news a {
    background-color: #2D3691;
    text-decoration: none;
    color: white;
    padding: 2px 22px;
    border-radius: 12px;
    cursor: auto;
}

.business_section_news a:hover {
    background-color: #2D3691;
    color: white;
}

/*business section news image*/
.business_section_news img {
    width: 100%;
    height: 10rem;
    padding-bottom: 1rem;
    object-fit: cover;
}

/*business section news title*/
.business_section_news h4 {
    padding-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}

/*business section news time*/
.business_section_news p {
    color: #766F6F;
    font-size: 14px;
}


@media only screen and (max-width: 480px) {

    .paryatan_body {
        padding: 1rem;
        margin: 5px 1rem;
    }

    /*bank news body*/
    .bank_body {
        margin: 1rem;
    }

    .bank_section {
        padding: 1rem;
    }

    /*rojgar body*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem
    }

    /*business body section start*/
    .business_body_section {
        padding: 10px 0 10px 0;
    }

    .paryatan_body_image img {
        height: 14rem;
    }

    .paryatan_body_imagee img {
        height: 6rem;
    }

    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 12px;
        font-weight: lighter;
    }

    .paryatan_body_imagee_text h4 {
        padding: 5px;
        font-size: 12px;
        font-weight: lighter;
    }

    .antarbarta_body {
        padding-top: 1rem;
    }

    /*antarbarta news image*/
    .antarbarta_card img {
        height: 4rem;
    }

    /*antarbarta news card*/
    .antarbarta_card {
        height: 7rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid grey;
        padding: 0 0 1rem 0;
    }

    /*antarbarta news detail*/
    .antarbarta_detail {
        padding: 5px;
    }

    .antarbarta_card h3 {
        font-size: 10px;
        font-weight: 550;
    }

    /*bank main news card*/
    .bank_main_new .card {
        height: 12rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .bank_main_new .container {
        padding: 2rem 1rem 1rem 0;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-size: 16px;
    }

    /*bank main news date*/
    .bank_main_new p {
        font-size: 14px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 16px;
    }

    /*bank main news image*/
    .bank_main_new img {
        height: 12rem;
    }

    /*bank news detail*/
    .bank_news_detail {
        height: 7rem;
        padding: 7px;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 18px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 12px;
    }

    /*business section link*/
    .business_section_news a {
        padding: 1px 12px;
        border-radius: 12px;
        font-size: 12px;
    }

    .business_section_news img {
        height: 6rem;
        padding-bottom: 5px;
    }

    .bank_news p {
        font-size: 10px;
    }

    .business_section_news h4 {
        padding-top: 5px;
        font-size: 12px;
    }

    /*matket news section image*/
    .market_section img {
        height: 8rem;
        padding-bottom: 5px;
    }

    /*market news section*/
    .market_section {
        padding: 5px;
    }

    .market_news {
        padding: 8px 0 0 0;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 12px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 10px;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 5rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 12px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 576px) {

    .paryatan_body {
        padding: 1rem;
        margin: 10px 2rem 0 2rem;
    }

    /*bank news body*/
    .bank_body {
        margin: 1rem 2rem 0 2rem;
    }

    .bank_section {
        padding: 1rem;
    }

    /*rojgar body*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*business body section start*/
    .business_body_section {
        padding: 10px 0 10px 0;
    }

    .paryatan_body_image img {
        height: 16rem;
    }

    .paryatan_body_imagee img {
        height: 7rem;
    }

    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 13px;
    }

    .paryatan_body_imagee_text h4 {
        padding: 5px;
        font-size: 13px;
    }

    .antarbarta_body {
        padding-top: 1rem;
    }

    /*antarbarta news image*/
    .antarbarta_card img {
        height: 5rem;
    }

    /*antarbarta news card*/
    .antarbarta_card {
        height: 8rem;
        margin-bottom: 1rem;
        padding: 0 0 1rem 0;
    }

    /*antarbarta news detail*/
    .antarbarta_detail {
        padding: 5px;
    }

    .antarbarta_card h3 {
        font-size: 12px;
        font-weight: 550;
    }

    /*bank main news card*/
    .bank_main_new .card {
        height: 12rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .bank_main_new .container {
        padding: 2rem 1rem 1rem 0;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-size: 16px;
    }

    /*bank main news date*/
    .bank_main_new p {
        font-size: 14px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 16px;
    }

    /*bank main news image*/
    .bank_main_new img {
        height: 12rem;
    }

    /*bank news detail*/
    .bank_news_detail {
        height: 7rem;
        padding: 7px;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 18px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 12px;
    }

    /*business section link*/
    .business_section_news a {
        padding: 1px 12px;
        border-radius: 12px;
        cursor: auto;
        font-size: 12px;
    }

    .business_section_news img {
        height: 6rem;
        padding-bottom: 5px;
    }

    .bank_news p {
        font-size: 10px;
    }

    .business_section_news h4 {
        padding-top: 5px;
        font-size: 12px;
    }

    /*matket news section image*/
    .market_section img {
        height: 8rem;
        width: 100%;
        object-fit: cover;
        padding-bottom: 5px;
    }

    .market_news {
        padding: 8px 0 0 0;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 12px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 10px;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 7rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 13px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .paryatan_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*bank news body*/
    .bank_body {
        margin: 1rem 2rem 0 2rem;
    }

    .bank_section {
        padding: 1rem;
    }

    /*rojgar body*/
    .rojgar_body {
        padding: 1rem;
        margin: 1rem 2rem 0 2rem;
    }

    /*business body section start*/
    .business_body_section {
        padding: 10px 0 10px 0;
    }

    .paryatan_body_image img {
        height: 16rem;
    }

    .paryatan_body_imagee img {
        height: 7rem;
    }

    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 13px;
    }

    .paryatan_body_imagee_text h4 {
        padding: 5px;
        font-size: 13px;
    }

    .antarbarta_body {
        padding-top: 1rem;
    }

    /*antarbarta news image*/
    .antarbarta_card img {
        height: 5rem;
    }

    /*antarbarta news card*/
    .antarbarta_card {
        height: 6rem;
        margin-bottom: 1rem;
        padding: 0 0 1rem 0;
    }

    /*antarbarta news detail*/
    .antarbarta_detail {
        padding: 5px;
    }

    .antarbarta_card h3 {
        font-size: 12px;
    }

    /*bank main news card*/
    .bank_main_new .card {
        height: 14rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .bank_main_new .container {
        padding: 2rem 1rem 1rem 0;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-size: 20px;
    }

    /*bank main news date*/
    .bank_main_new p {
        font-size: 14px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 16px;
    }

    /*bank main news image*/
    .bank_main_new img {
        height: 14rem;
    }

    /*bank other news image*/
    .bank_news img {
        height: 7rem;
    }

    /*bank news detail*/
    .bank_news_detail {
        height: 7rem;
        padding: 7px;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 18px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 12px;
    }

    /*business section link*/
    .business_section_news a {
        padding: 1px 12px;
        border-radius: 12px;
        font-size: 12px;
    }

    .business_section_news img {
        width: 100%;
        height: 7rem;
        padding-bottom: 5px;
    }

    .bank_news p {
        font-size: 10px;
    }

    .business_section_news h4 {
        padding-top: 5px;
        font-size: 13px;
    }

    /*matket news section image*/
    .market_section img {
        height: 8rem;
        padding-bottom: 5px;
    }

    .market_news {
        padding: 8px 0 0 0;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 12px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 10px;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 8rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 14px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /*business body section start*/
    .business_body_section {
        padding: 10px 0 10px 0;
    }

    .paryatan_body_image img {
        height: 20rem;
    }

    .paryatan_body_imagee img {
        height: 9rem;
    }

    .paryatan_body_image_text h4 {
        padding: 5px;
        font-size: 16px;
    }

    .paryatan_body_imagee_text h4 {
        padding: 5px;
        font-size: 15px;
    }

    .antarbarta_body {
        padding-top: 1rem;
    }

    /*antarbarta news image*/
    .antarbarta_card img {
        height: 5rem;
    }

    /*antarbarta news card*/
    .antarbarta_card {
        height: 6rem;
        margin-bottom: 1rem;
        padding: 0 0 1rem 0;
    }

    /*antarbarta news detail*/
    .antarbarta_detail {
        padding: 5px;
    }

    .antarbarta_card h3 {
        font-size: 13px;
    }

    /*bank main news card*/
    .bank_main_new .card {
        height: 16rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .bank_main_new .container {
        padding: 2rem 1rem 1rem 0;
    }

    /*bank main news title*/
    .bank_main_new h3 {
        font-size: 22px;
    }

    /*bank main news date*/
    .bank_main_new p {
        font-size: 14px;
    }

    /*bank main news detail*/
    .bank_main_new h2 {
        font-size: 16px;
    }

    /*bank main news image*/
    .bank_main_new img {
        height: 16rem;
    }

    /*bank other news image*/
    .bank_news img {
        height: 7rem;
    }

    /*bank news detail*/
    .bank_news_detail {
        height: 7rem;
        padding: 7px;
    }

    /*bank news title*/
    .bank_news h3 {
        font-size: 18px;
    }

    /*bank news paragraph*/
    .bank_news p {
        font-size: 12px;
    }

    /*business section link*/
    .business_section_news a {
        padding: 1px 12px;
        border-radius: 12px;
        font-size: 12px;
    }

    .business_section_news img {
        height: 7rem;
        padding-bottom: 5px;
    }

    .business_section_news h4 {
        padding-top: 5px;
        font-size: 14px;
    }

    /*matket news section image*/
    .market_section img {
        height: 10rem;
        padding-bottom: 5px;
    }

    .market_news {
        padding: 8px 0 0 0;
    }

    /*market news title*/
    .market_news h3 {
        font-size: 14px;
        font-weight: bold;
    }

    /*market news date*/
    .market_news p {
        font-size: 12px;
    }

    /*rojgar image*/
    .rojgar_news img {
        height: 10rem;
    }

    /*rojgar title*/
    .rojgar_news h3 {
        font-size: 15px;
        padding: 5px 1px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*business body section start*/
    .business_body_section {
        background: #F5F5F5;
        padding: 1rem 4rem;
    }



    /*paryatan image*/
    .paryatan_body_imagee {
        position: relative;
        text-align: center;
        padding: 1rem 0 0 0;
    }

    .paryatan_body_imagee img {
        height: 12rem;
    }

    .paryatan_body_image img {
        height: 25rem;
    }

    .rojgar_news img {
        height: 12rem;
    }

    .rojgar_news h3 {
        font-size: 18px;
        font-weight: bold;
        padding: 6px 1px;
    }
}