@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --blue: #3064af;
    --yellow: #fdb016;
}

* {
    font-family: 'Mukta', sans-serif;
}

body {
    overflow-x: hidden;
    /* Hide scrollbars */
}

/*.bagmati-logo a img {
    height: 5rem;
}*/
.hamburger-menu {
    color: #fff;
    padding: 20px 0;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bagmati-footer-logo a img {
    height: 90px;
    margin-top: 24px;
    margin-bottom: 20px;
}

/* live video styles */

/*social media icon*/
.social-media h2 a {
    color: black;
    text-decoration: none;
}


.social-media h2 a i:hover {
    text-decoration: none;
    transform: scale(1.2);
    color: #fdb016;
}

/*english button*/
.english a {
    text-decoration: none;
    background: #EBEAEA;
    color: var(--blue);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.english a:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
}

/*nepali button*/
.nepali a {
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.nepali a:hover {
    color: red;
    background: white;
    border: 2px solid red;
}

/*topheader date*/
.date p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 1rem;
}

/*top header section content*/
.header-top {
    padding-top: 3rem;
}

/*top header link*/
.header-top a {
    font-size: 12px;
}

/*top header h2*/
.header-top h2 a {
    font-size: 25px;
    padding-left: 10px;
}

/*top header padding*/
header .top-header {
    padding: 5px 6rem 10px 6rem;
    height: 8rem;
}

/*top header image*/
.top-header .logo img {
    height: 4rem;
    width: 16rem;
    object-fit: fill;
}

/*footer*/
footer {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(270deg, #C62126 18.39%, #3064AF 86.78%);
}

/*footer nav*/
footer a {
    text-decoration: none;
    color: #eee;
}

footer a:hover {
    color: var(--yellow);
}

/*footer paragraph*/
footer p {
    font-size: 14px;
}

/*footer heading*/
footer h6 {
    font-size: 20px;
    margin-top: 24px;
}

footer h3 {
    font-size: 14px;
    text-align: justify;
    width: 98%;
}

footer .container h2 {
    font-weight: bold;
    font-size: 14px;
}

footer .footer-content {
    margin-bottom: 1rem;
}

footer h3 {
    line-height: 1.5;
}

footer .container {
    width: 100%;
}

/*footer search form section end*/

/*footer copyright section*/


.copyright {
    text-align: center;
    border: 3px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

/*Our program paragraph*/

/*footer end*/
.heading {
    display: flex;
}

.blue_line {
    border-top: 4px solid #2D3691;
    width: 70px;
}

.one {
    margin-top: 1rem;
    margin-left: 10px;
}

.heading h1 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

/*media query for mobile view*/
@media only screen and (max-width: 480px) {

    /* Thick red border */
    hr.linee {
        border-top: 2px solid var(--blue);
        margin-top: 5px;
    }

    /*header image*/
    .top-header .logo img {
        height: 3rem;
        width: 20rem;
    }

    /*english button */
    .top-header .english {
        margin-top: 1px;
    }

    /*nepali button*/
    .top-header .nepali {
        margin-top: 1px;
    }

    /*date*/
    .date p {
        font-size: 8px;
        font-weight: bold;
        padding-top: 1rem;
    }

    /*social media icon*/
    .social-media h2 a {
        color: black;
        text-decoration: none;
    }

    /*english button*/
    .english a {
        text-decoration: none;
        background: #EBEAEA;
        color: var(--blue);
        padding: 5px 12px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 8px;
    }

    /*english hover*/
    .english a:hover {
        color: var(--blue);
        border: 2px solid var(--blue);
    }

    /*nepali button*/
    .nepali a {
        text-decoration: none;
        background: red;
        color: white;
        padding: 5px 12px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 10px;
    }

    /*nepali hover*/
    .nepali a:hover {
        color: red;
        background: white;
        border: 2px solid red;
    }

    /*topheader date*/
    .date p {
        font-size: 13px;
        font-weight: bold;
        padding-top: 0;
    }

    /*top header section content*/
    .header-top {
        padding-top: 5px;
    }

    /*top header link*/
    .header-top a {
        font-size: 10px;
    }

    /*top header h2*/
    .header-top h2 a {
        font-size: 20px;
        padding-left: 10px;
    }

    /*top header padding*/
    header .top-header {
        padding: 5px 2px 2px 5px;
        height: 135px;
    }

    /*footer*/
    footer {
        padding: 1rem;
        width: 100%;
    }

    /*footer container*/
    footer .container {
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 60px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /*footer about company*/
    footer h3 {
        font-size: 12px;
        line-height: 1.6;
    }

    /*footer heading*/
    footer h6 {
        margin-top: 20px;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 5px;
        font-size: 18px;
    }

    /*footer content*/
    footer p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .section {
        padding-bottom: 15px;
    }

    .copyright {
        height: 1rem;
    }

    /**footer copyright**/
    .heading h1 {
        font-size: 18px;
        font-weight: bold;
        position: relative;
    }

    .one {
        margin-top: 14px;
        margin-left: 5px;
    }

    .blue_line {
        border-top: 3px solid #2D3691;
        width: 30px;
    }
}

/*media query for tablet and larger smart phone*/
@media only screen and (min-width: 481px) and (max-width: 576px) {


    /* Thick red border */
    hr.linee {
        border-top: 2px solid var(--blue);
        margin-top: 5px;
    }

    /*header image*/
    .top-header .logo img {
        height: 3rem;
        width: 20rem;
        object-fit: fill;
    }

    /*english button */
    .top-header .english {
        margin-top: 5px;
    }

    /*nepali button*/
    .top-header .nepali {
        margin-top: 5px;
    }

    /*date*/
    .date p {
        font-size: 10px;
        font-weight: bold;
        padding-top: 1rem;
    }

    /*social media icon*/
    .social-media h2 a {
        color: black;
        text-decoration: none;
    }

    /*english button*/
    .english a {
        text-decoration: none;
        background: #EBEAEA;
        color: var(--blue);
        padding: 7px 17px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
    }

    /*english hover*/
    .english a:hover {
        color: var(--blue);
        border: 2px solid var(--blue);
    }

    /*nepali button*/
    .nepali a {
        text-decoration: none;
        background: red;
        color: white;
        padding: 7px 17px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 10px;
    }

    /*nepali hover*/
    .nepali a:hover {
        color: red;
        background: white;
        border: 2px solid red;
    }

    /*topheader date*/
    .date p {
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
    }

    /*top header section content*/
    .header-top {
        padding-top: 5px;
    }

    /*top header link*/
    .header-top a {
        font-size: 12px;
    }

    /*top header h2*/
    .header-top h2 a {
        font-size: 30px;
        padding-left: 10px;
    }

    /*top header padding*/
    header .top-header {
        padding: 10px 10px 10px;
        height: 136px;
    }

    /*footer*/
    footer {
        padding: 1rem;
        width: 100%;
    }

    footer .container {
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 60px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /*footer about company*/
    footer h3 {
        font-size: 12px;
        line-height: 1.6;
    }

    footer h6 {
        margin-top: 20px;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 5px;
        font-size: 18px;
    }

    /*footer content*/
    footer p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .section {
        padding-bottom: 15px;
    }

    .copyright {
        height: 1rem;
    }

    /**footer copyright**/
    .heading h1 {
        font-size: 20px;
        font-weight: bold;
        position: relative;
    }

    .blue_line {
        border-top: 3px solid #2D3691;
        width: 40px;
    }

}

/*media query for tablet and larger smart phone*/
@media only screen and (min-width: 576px) and (max-width: 670px) {

    /* Thick red border */
    hr.linee {
        border-top: 2px solid var(--blue);
        margin-top: 5px;
    }

    /*header image*/
    .top-header .logo img {
        height: 3rem;
        width: 20rem;
    }

    /*english button */
    .top-header .english {
        margin-top: 5px;
    }

    /*nepali button*/
    .top-header .nepali {
        margin-top: 5px;
    }

    /*date*/
    .date p {
        font-size: 10px;
        font-weight: bold;
        padding-top: 1rem;
    }

    /*social media icon*/
    .social-media h2 a {
        color: black;
        text-decoration: none;
    }

    /*english button*/
    .english a {
        text-decoration: none;
        background: #EBEAEA;
        color: var(--blue);
        padding: 7px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
    }

    /*english hover*/
    .english a:hover {
        color: var(--blue);
        border: 2px solid var(--blue);
    }

    /*nepali button*/
    .nepali a {
        text-decoration: none;
        background: red;
        color: white;
        padding: 7px 11px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 10px;
    }

    /*nepali hover*/
    .nepali a:hover {
        color: red;
        background: white;
        border: 2px solid red;
    }

    /*topheader date*/
    .date p {
        font-size: 11px;
        font-weight: bold;
        padding-top: 9px;
    }

    /*top header section content*/
    .header-top {
        padding-top: 15px;
    }

    /*top header link*/
    .header-top a {
        font-size: 9px;
    }

    /*top header h2*/
    .header-top h2 a {
        font-size: 17px;
        padding-left: 7px;
    }

    /*top header padding*/
    header .top-header {
        padding: 5px 2px 5px 2px;
        height: 70px;
    }

    /*footer*/
    footer {
        padding-top: 1rem;
        padding: 2px;
        width: 100%;
    }

    footer .container {
        width: 100%;
        padding: 1rem;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /*footer about company*/
    footer h3 {
        font-size: 12px;
        line-height: 1.2;
    }

    footer h6 {
        margin-top: 15px;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 15px;
    }

    /*footer content*/
    footer p {
        font-size: 11px;
        margin-bottom: 2px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 22px;
    }

    .section {
        padding-bottom: 1rem;
    }

    .copyright {
        height: 1rem;
    }

    /**footer copyright**/
    .heading h1 {
        font-size: 20px;
        font-weight: bold;
        position: relative;
    }

    .one {
        margin-top: 14px;
        margin-left: 5px;
    }

    .blue_line {
        border-top: 3px solid #2D3691;
        width: 40px;
    }
}

/*media query for tablet and larger smart phone*/
@media only screen and (min-width: 670px) and (max-width: 768px) {

    /* Thick red border */
    hr.linee {
        border-top: 2px solid var(--blue);
        margin-top: 5px;
    }

    /*header image*/
    .top-header .logo img {
        height: 3rem;
        width: 20rem;
    }

    /*english button */
    .top-header .english {
        margin-top: 5px;
    }

    /*nepali button*/
    .top-header .nepali {
        margin-top: 5px;
    }

    /*date*/
    .date p {
        font-size: 10px;
        font-weight: bold;
        padding-top: 1rem;
    }

    /*social media icon*/
    .social-media h2 a {
        color: black;
        text-decoration: none;
    }

    /*english button*/
    .english a {
        text-decoration: none;
        background: #EBEAEA;
        color: var(--blue);
        padding: 7px 12px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
    }

    /*english hover*/
    .english a:hover {
        color: var(--blue);
        border: 2px solid var(--blue);
    }

    /*nepali button*/
    .nepali a {
        text-decoration: none;
        background: red;
        color: white;
        padding: 7px 14px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 10px;
    }

    /*nepali hover*/
    .nepali a:hover {
        color: red;
        background: white;
        border: 2px solid red;
    }

    /*topheader date*/
    .date p {
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
    }

    /*top header section content*/
    .header-top {
        padding-top: 20px;
    }

    /*top header link*/
    .header-top a {
        font-size: 10px;
    }

    /*top header h2*/
    .header-top h2 a {
        font-size: 20px;
        padding-left: 5px;
    }

    .header-top h2 {
        padding-left: 20px;
    }

    /*top header padding*/
    header .top-header {
        padding: 10px 10px 10px;
        height: 80px;
    }

    /*footer*/
    footer {
        padding-top: 1rem;
        padding: 2px;
        width: 100%;
    }

    footer .container {
        width: 100%;
        padding: 1rem;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /*footer about company*/
    footer h3 {
        font-size: 12px;
        line-height: 1.2;
    }

    footer h6 {
        margin-top: 15px;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 15px;
    }

    /*footer content*/
    footer p {
        font-size: 11px;
        margin-bottom: 2px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 22px;
    }

    .section {
        padding-bottom: 1rem;
    }

    .copyright {
        height: 1rem;
    }

    /**footer copyright**/
    .heading h1 {
        font-size: 20px;
        font-weight: bold;
        position: relative;
    }

    .blue_line {
        border-top: 3px solid #2D3691;
        width: 40px;
    }
}

/*larger tablet*/
@media only screen and (min-width: 769px) and (max-width: 992px) {

    /*heading top part*/
    .header-top {
        padding-top: 2rem;
    }

    /*top header padding*/
    header .top-header {
        padding: 5px 30px 5px 4rem;
        height: 5rem;
    }

    /*nepali button*/
    .nepali a {
        padding: 5px 12px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 10px;
    }

    /*english button*/
    .english a {
        padding: 5px 12px;
        border-radius: 5px;
        font-size: 10px;
    }

    /*top header image*/
    .top-header .logo img {
        height: 4rem;
        width: 16rem;
    }

    /*navbar*/
    nav .navbar-nav {
        color: white;
        text-decoration: none;
        margin-left: 2rem;
    }

    /*navbar link*/
    nav .navbar-nav li a {
        color: white;
        text-decoration: none;
        margin-right: 18px;
    }

    /*header nav icon*/
    .header-top h2 a {
        font-size: 20px;
        padding-left: 5px;
    }

    .date p {
        font-size: 10px;
        font-weight: bold;
        padding-top: 5px;
    }

    .header-top h2 {
        margin-left: 1rem;
    }

    /*footer*/
    footer {
        padding: 1rem 3rem 2rem 3rem;
        width: 100%;
    }

    /*footer */
    footer .container {
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 60px;
    }

    /*footer about company*/
    footer h3 {
        font-size: 12px;
        line-height: 1.6;
    }

    footer h6 {
        margin-top: 20px;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 15px;
    }

    /*footer content*/
    footer p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .copyright {
        height: 1rem;
    }

    /**footer copyright**/
    .heading h1 {
        font-size: 22px;
        font-weight: bold;
        position: relative;
    }

    .blue_line {
        border-top: 4px solid #2D3691;
        width: 60px;
    }
}

/*laptop media query*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /*header navbar*/
    header .navbar {
        padding: 10px 4rem;
    }

    /*top header padding*/
    header .top-header {
        padding: 5px 5px 10px 5rem;
        height: 7rem;
    }

    /*navbar link*/
    nav .navbar-nav li a {
        color: white;
        text-decoration: none;
        margin-right: 3rem;
    }

    /*social media icon*/
    .header-top h2 a {
        font-size: 25px;
        padding-left: 5px;
    }

    /*english button*/
    .english a {
        text-decoration: none;
        background: #EBEAEA;
        color: var(--blue);
        padding: 7px 17px;
        border-radius: 5px;
        font-weight: bold;
    }

    /*nepali button*/
    .nepali a {
        text-decoration: none;
        background: red;
        color: white;
        padding: 7px 17px;
        font-weight: bold;
        border-radius: 5px;
    }

    /*top header image*/
    .top-header .logo img {
        height: 4rem;
        width: 16rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    /*footer*/
    footer {
        padding: 1rem 4rem 1rem 5rem;
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 100px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    /*footer about company*/
    footer h3 {
        line-height: 1.6;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 25px;
    }

    /*footer content*/
    footer p {
        font-size: 14px;

    }

    p {
        margin-bottom: 10px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .copyright {
        height: 1rem;
    }

    .heading h1 {
        font-size: 24px;
        font-weight: bold;
        position: relative;
    }

    .blue_line {
        border-top: 4px solid #2D3691;
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

    /*top header image*/
    .top-header .logo img {
        height: 4rem;
        width: 16rem;
        margin-top: 2rem;
    }

    /*social media icon*/
    .header-top h2 a {
        font-size: 25px;
        padding-left: 5px;
    }

    /*footer*/
    footer {
        padding: 1rem 6rem 1rem 6rem;
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 110px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    /*footer about company*/
    footer h3 {
        line-height: 1.6;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 25px;
    }

    /*footer content*/
    footer p {
        font-size: 14px;

    }

    p {
        margin-bottom: 10px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .copyright {
        height: 1rem;
    }

    .heading h1 {
        font-size: 28px;
        font-weight: bold;
        position: relative;
    }

    .blue_line {
        border-top: 4px solid #2D3691;
        width: 60px;
    }
}

@media only screen and (min-width: 1400px) {

    /*top header image*/
    .top-header .logo img {
        height: 4rem;
        width: 16rem;
        margin-top: 2rem;
    }

    /*footer*/
    footer {
        padding: 1rem 4rem 1rem 8rem;
        width: 100%;
    }

    /*footer image*/
    .bagmati-footer-logo a img {
        height: 110px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    /*footer about company*/
    footer h3 {
        line-height: 1.6;
    }

    /*footer headings*/
    footer .container h6 {
        padding-bottom: 0px;
        font-size: 25px;
    }

    /*footer content*/
    footer p {
        font-size: 14px;

    }

    p {
        margin-bottom: 10px;
    }

    /*footer link*/
    footer p a {
        padding-bottom: 1px;
    }

    /*read more in about company*/
    footer .container h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /**footer heading**/
    footer h5 {
        font-size: 35px;
    }

    .copyright {
        height: 1rem;
    }
}