.hamburger-menu {
    background: linear-gradient(270deg, #C62126 18.39%, #3064AF 86.78%);
    color: #fff;
    padding: 20px 0;
}

nav {
    text-align: left;
    background: linear-gradient(270deg, #C62126 18.39%, #3064AF 86.78%);
}

.author .line img {
    margin: 0 10px 5px 1rem;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.heading a {
    text-decoration: none;
    color: #3064AF;
    font-size: 20px;
    text-align: right;
}

/* Top right text */
.top-right {
    position: absolute;
    right: 9rem;
}

.samachar_section .top-right {
    position: absolute;
    right: 30rem;
}

.business_section .top-right {
    position: absolute;
    right: 30rem;
}

.artha_section .top-right {
    position: absolute;
    right: 30rem;
}

.swastha_section .top-right {
    position: absolute;
    right: 30rem;
}

.manoranjan_section .top-right {
    position: absolute;
    right: 30rem;
}


.author h5 {
    font-size: 1rem;
    color: #766F6F;
}

.author {
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 10px
}

.business_section .heading a {
    background-color: white;
    text-decoration: none;
    color: #3064AF;
    padding: 2px 22px;
    border-radius: 12px;
    cursor: auto;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

nav ul li:last-child a {
    padding-right: 0
}

nav ul li:hover>a {
    color: #fdb016;
    text-decoration: none;
    transform: scale(1.1);
}

.menu-tigger {
    padding-top: 3px;
    padding-right: 10px;
    display: none;
    cursor: pointer
}

.menu-tigger span {
    background: linear-gradient(270deg, #C62126 18.39%, #3064AF 86.78%);
    height: 4px;
    width: 27px;
    display: block;
    margin: 5px 0;
    -webkit-transition: .5s;
    transition: .5s
}

@media only screen and (max-width: 481px) {
    .hamburger-menu {
        background: #F5F5F5;
        color: red;
        padding: 3px 1px;
        height: 10px;
        width: 45px;
        float: inline-end;
        margin-right: 1rem;
    }

    .menu-tigger {
        margin-bottom: 1px;
        display: block;
        position: relative;
        z-index: 3;
        position: absolute;
        top: 86px;
        right: 16px;
    }

    nav {
        text-align: center;
        padding-top: 10px;
        position: absolute;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        right: 0;
        left: 0;
        height: 50%;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
        z-index: 5;
    }

    nav.res-menu {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }

    nav ul li {
        display: block;
        line-height: 40px
    }

    nav ul li a {
        padding: 0
    }

    .heading a {
        text-decoration: none;
        color: #3064AF;
        font-size: 15px;
        text-align: right;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 2rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 11rem;
        float: inline-end;
    }

    .business_section .top-right {
        position: absolute;
        right: 11rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 11rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 11rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 11rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
    .hamburger-menu {
        background: #F5F5F5;
        color: red;
        padding: 5px 1px;
        height: 0px;
        width: 50px;
        float: inline-end;
        margin-right: 1rem;
        margin-bottom: 5rem;

    }

    .menu-tigger {
        display: block;
        position: relative;
        z-index: 4;
        position: absolute;
        top: 74px;
        right: 16px;
    }

    .menu-tigger span {
        background: linear-gradient(270deg, #C62126 18.39%, #3064AF 86.78%);
        height: 5px;
        width: 35px;
        display: block;
        margin: 5px 0;
        -webkit-transition: .5s;
        transition: .5s
    }

    nav {
        text-align: center;
        padding-top: 10px;
        position: absolute;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        right: 0;
        left: 0;
        height: 100%;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
        z-index: 5;
    }

    nav.res-menu {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }

    nav ul li {
        display: block;
        line-height: 40px
    }

    nav ul li a {
        padding: 0
    }

    .heading a {
        text-decoration: none;
        color: #3064AF;
        font-size: 15px;
        text-align: right;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 3rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 13rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 13rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 13rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 13rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 13rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .hamburger-menu {
        color: #fff;
        padding: 10px 0;
    }

    nav ul li {
        display: inline-block;
        line-height: 5px
    }

    nav ul li a {
        display: block;
        color: #fff;
        padding: 0 11px;
        text-transform: uppercase;
        font-size: 12px;
    }

    nav {
        text-align: left;
    }

    .heading a {
        text-decoration: none;
        color: #3064AF;
        font-size: 15px;
        text-align: right;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 4rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 17rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 17rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 17rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 17rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 17rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hamburger-menu {
        color: #fff;
        padding: 10px 0;
    }

    nav ul li {
        display: inline-block;
        line-height: 5px
    }

    nav ul li a {
        display: block;
        color: #fff;
        padding: 0 17px;
        text-transform: uppercase;
        font-size: 14px;
    }

    nav {
        text-align: left;
    }

    .heading a {
        text-decoration: none;
        color: #3064AF;
        font-size: 17px;
        text-align: right;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 5rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 22rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 22rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 22rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 22rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 22rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    nav {
        text-align: left;
    }

    nav ul li a {
        display: block;
        color: #fff;
        padding: 0 30px;
        text-transform: uppercase;
        font-size: 14px;
    }

    nav ul li {
        display: inline-block;
        line-height: 5px
    }

    .heading a {
        text-decoration: none;
        color: #3064AF;
        font-size: 17px;
        text-align: right;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 8rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 27rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 27rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 27rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 27rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 27rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    nav {
        text-align: left;
    }

    nav ul li a {
        display: block;
        color: #fff;
        padding: 0 40px;
        text-transform: uppercase;
        font-size: 16px;
    }

    nav ul li {
        display: inline-block;
        line-height: 5px
    }

    /* Top right text */
    .top-right {
        position: absolute;
        right: 9rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 33rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 33rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 33rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 33rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 33rem;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    nav {
        text-align: left;
    }

    nav ul li a {
        display: block;
        color: #fff;
        padding: 0 40px;
        text-transform: uppercase;
        font-size: 17px;
    }

    nav ul li {
        display: inline-block;
        line-height: 5px
    }

    .top-right {
        position: absolute;
        right: 9rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 36rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 36rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 36rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 36rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 36rem;
    }
}

@media only screen and (min-width: 1600px) {
    .top-right {
        position: absolute;
        right: 9rem;
    }

    .samachar_section .top-right {
        position: absolute;
        right: 53rem;
    }

    .business_section .top-right {
        position: absolute;
        right: 53rem;
    }

    .artha_section .top-right {
        position: absolute;
        right: 53rem;
    }

    .swastha_section .top-right {
        position: absolute;
        right: 53rem;
    }

    .manoranjan_section .top-right {
        position: absolute;
        right: 53rem;
    }
}