@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}

/*pradesh section*/
.pradesh_page_samachar {
    background-color: white;
    margin: 0 4rem 0 4rem;
    padding: 2rem 4rem 1rem 4rem;
}

/*body section*/
.body_section {
    background: #F5F5F5;
    padding: 2rem 4rem;
}

/*pradesh nav*/
.pradesh-main-news-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*pradesh nav link*/
.pradesh-main-news-nav li {
    float: left;
}

.pradesh-main-news-nav li a {
    display: block;
    text-align: center;
    padding: 14px 21px;
    text-decoration: none;
    color: #2D3691;
}

/*pradesh nav hover*/
.pradesh-main-news-nav li a:hover {
    border-radius: 5px;
    padding: 8px 8px;
    margin: 5px;
    cursor: pointer;
    color: black;
}

/*pradesh main news*/
.pradesh_main_news {
    background-color: #D9D9D9;
    margin-bottom: 2rem;
}

.pradesh_main_news .card {
    background-color: #D9D9D9;
    border-radius: 1px;
    border-color: #D9D9D9;
}

/*pradesh main news detail*/
.pradesh_main_news_detail {
    overflow: hidden;
    padding-top: 5rem;
}

/*pradesh main news title*/
.pradesh_main_news_detail h3 {
    font-weight: bold;
    font-size: 24px;
}

/*pradesh main news date*/
.pradesh_main_news_detail p {
    font-size: 15px;
    color: #898888;
}

/*pradesh main news detail*/
.pradesh_main_news_detail h2 {
    font-size: 14px;
    color: #423F3F
}

/*pradesh main news image*/
.pradesh_main_news img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

/*pradesh news detail*/
.pradesh_news_detail {
    overflow: hidden;
    padding-top: 2rem;
}

/*pradesh news*/
.pradesh_news {
    padding-bottom: 2rem;
}

/*pradesh news image*/
.pradesh_news img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}

/*pradesh news title*/
.pradesh_news h2 {
    font-weight: bold;
    font-size: 16px;
}

/*pradesh news date*/
.pradesh_news p {
    color: #898888;
    font-size: 12px;
}

/*description*/
.pradesh_news h6 {
    font-size: 14px;
    color: black;
    margin-bottom: 2px;
}

/*read more*/
.pradesh_news .pradesh_news_detail a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

@media only screen and (max-width: 480px) {

    /*body section*/
    .body_section {
        background: #F5F5F5;
        padding: 1rem 0;
    }

    /*pradesh section*/
    .pradesh_page_samachar {
        background-color: white;
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }

    /*pradesh nav link*/
    .pradesh-main-news-nav li a {
        display: block;
        text-align: center;
        padding: 6px 6px;
        text-decoration: none;
        color: #2D3691;
        font-size: 10px;
    }

    /*pradesh nav hover*/
    .pradesh-main-news-nav li a:hover {
        border-radius: 5px;
        padding: 3px;
        margin: 3px;
        cursor: pointer;
    }

    /*pradesh main news title*/
    .pradesh_main_news_detail h3 {
        font-weight: bold;
        font-size: 15px;
        padding-right: 2px;
    }

    /*pradesh main news image*/
    .pradesh_main_news img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail {
        overflow: hidden;
        padding-top: 10px;
    }

    /*pradesh main news date*/
    .pradesh_main_news_detail p {
        font-size: 12px;
        color: #898888;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail h2 {
        font-size: 10px;
        color: #423F3F
    }

    /*pradesh news*/
    .pradesh_news {
        padding-bottom: 5px;
    }

    /*pradesh news image*/
    .pradesh_news img {
        width: 100%;
        height: 6rem;
        object-fit: cover;
    }

    /*pradesh news detail*/
    .pradesh_news_detail {
        overflow: hidden;
        padding-top: 3px;
    }

    /*pradesh news title*/
    .pradesh_news h2 {
        font-weight: bold;
        font-size: 12px;
    }

    /*pradesh news date*/
    .pradesh_news p {
        color: #898888;
        font-size: 12px;
        margin-bottom: 5px;
    }

    /*description*/
    .pradesh_news h6 {
        font-size: 12px;
        color: black;
        margin-bottom: 2px;
    }

    /*read more*/
    .pradesh_news .pradesh_news_detail a {
        color: blue;
        text-decoration: none;
        font-size: 12px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 576px) {

    /*body section*/
    .body_section {
        background: #F5F5F5;
        padding: 1rem 0;
    }

    /*pradesh section*/
    .pradesh_page_samachar {
        background-color: white;
        margin: 0 2rem 0 2rem;
        padding: 1rem;
    }

    /*pradesh nav link*/
    .pradesh-main-news-nav li a {
        display: block;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        color: #2D3691;
        font-size: 12px;
    }

    /*pradesh nav hover*/
    .pradesh-main-news-nav li a:hover {
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }

    /*pradesh main news title*/
    .pradesh_main_news_detail h3 {
        font-weight: bold;
        font-size: 18px;
        padding-right: 5px;
    }

    /*pradesh main news image*/
    .pradesh_main_news img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail {
        overflow: hidden;
        padding-top: 2rem;
    }

    /*pradesh main news date*/
    .pradesh_main_news_detail p {
        font-size: 12px;
        color: #898888;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail h2 {
        font-size: 13px;
        color: #423F3F
    }

    /*pradesh news*/
    .pradesh_news {
        padding-bottom: 7px;
    }

    /*pradesh news image*/
    .pradesh_news img {
        width: 100%;
        height: 8rem;
        object-fit: cover;
    }

    /*pradesh news detail*/
    .pradesh_news_detail {
        overflow: hidden;
        padding-top: 7px;
    }

    /*pradesh news title*/
    .pradesh_news h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /*pradesh news date*/
    .pradesh_news p {
        color: #898888;
        font-size: 12px;
        margin-bottom: 2px;
    }

    /*description*/
    .pradesh_news h6 {
        font-size: 12px;
        color: black;
        margin-bottom: 2px;
    }

    /*read more*/
    .pradesh_news .pradesh_news_detail a {
        color: blue;
        text-decoration: none;
        font-size: 12px;
    }


}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    /*body section*/
    .body_section {
        padding: 1rem;
    }

    /*pradesh section*/
    .pradesh_page_samachar {
        background-color: white;
        margin: 0 2rem 0 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    /*pradesh nav link*/
    .pradesh-main-news-nav li a {
        display: block;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        color: #2D3691;
        font-size: 14px;
    }

    /*pradesh nav hover*/
    .pradesh-main-news-nav li a:hover {
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }

    /*pradesh main news title*/
    .pradesh_main_news_detail h3 {
        font-weight: bold;
        font-size: 18px;
        padding-right: 5px;
    }

    /*pradesh main news image*/
    .pradesh_main_news img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail {
        overflow: hidden;
        padding-top: 2rem;
    }

    /*pradesh main news date*/
    .pradesh_main_news_detail p {
        font-size: 12px;
        color: #898888;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail h2 {
        font-size: 13px;
        color: #423F3F
    }

    /*pradesh news image*/
    .pradesh_news img {
        width: 100%;
        height: 6rem;
        object-fit: cover;
    }

    /*pradesh news detail*/
    .pradesh_news_detail {
        overflow: hidden;
        padding-top: 3px;
    }

    /*pradesh news title*/
    .pradesh_news h2 {
        font-weight: bold;
        font-size: 12px;
    }

    /*pradesh news date*/
    .pradesh_news p {
        color: #898888;
        font-size: 12px;
    }

    /*description*/
    .pradesh_news h6 {
        font-size: 12px;
        color: black;
        margin-bottom: 2px;
    }

    /*read more*/
    .pradesh_news .pradesh_news_detail a {
        color: blue;
        text-decoration: none;
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /*body section*/
    .body_section {
        padding: 1rem 0;
    }

    /*pradesh section*/
    .pradesh_page_samachar {
        background-color: white;
        margin: 0 4rem 0 4rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    /*pradesh nav link*/
    .pradesh-main-news-nav li a {
        display: block;
        text-align: center;
        padding: 10px 18px;
        text-decoration: none;
        color: #2D3691;
    }

    /*pradesh nav hover*/
    .pradesh-main-news-nav li a:hover {
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }

    /*pradesh main news title*/
    .pradesh_main_news_detail h3 {
        font-weight: bold;
        font-size: 22px;
    }

    /*pradesh main news image*/
    .pradesh_main_news img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail {
        overflow: hidden;
        padding-top: 3rem;
    }

    /*pradesh main news date*/
    .pradesh_main_news_detail p {
        font-size: 13px;
        color: #898888;
    }

    /*pradesh main news detail*/
    .pradesh_main_news_detail h2 {
        font-size: 13px;
        color: #423F3F
    }

    /*pradesh news image*/
    .pradesh_news img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
    }

    /*pradesh news detail*/
    .pradesh_news_detail {
        overflow: hidden;
        padding-top: 4px;
    }

    /*pradesh news title*/
    .pradesh_news h2 {
        font-weight: bold;
        font-size: 14px;
    }

    /*pradesh news date*/
    .pradesh_news p {
        color: #898888;
        font-size: 12px;
    }

    /*description*/
    .pradesh_news h6 {
        font-size: 12px;
        color: black;
        margin-bottom: 2px;
    }

    /*read more*/
    .pradesh_news .pradesh_news_detail a {
        color: blue;
        text-decoration: none;
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .pradesh_news img {
        width: 100%;
        height: 9rem;
        object-fit: cover;
    }
}